src/TodoApp.Shared/bin
src/TodoApp.Shared/obj
src/TodoApp.WebApi/bin
src/TodoApp.WebApi/obj
src/TodoApp.WorkerService/bin
src/TodoApp.WorkerService/obj
README-toc.cmd
.config/dotnet-tools.json
aws/aws-configure.ps1
aws/aws-configure.sh
aws/test-deploy.ps1
aws/test-deploy.sh
jmeter/results.jtl
jmeter/jmeter.log
